.main-preview-player {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.main-preview-player .video-js,
.main-preview-player .playlist-container {
    position: relative;
    min-width: 300px;
    min-height: 100vh;
    height: 100vh;
}

.main-preview-player .video-js {
    -webkit-box-flex: 3;
    -ms-flex: 3 1 70%;
    flex: 3 1 70%;
}

.main-preview-player .playlist-container {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 30%;
    flex: 1 1 30%;
}

.main-preview-player .playlist-container .vjs-playlist {
    margin: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.vjs-playlist img {
    width: 100%;
    height: 100%;
}

.vjs-playlist .vjs-playlist-duration {
    background-color: rgba(26, 26, 26, 0.8);
    left: 0;
    padding: 2px 8px;
    position: absolute;
    top: 0;
}

.vjs-playlist cite {
    display: block;
    font-style: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.vjs-playlist .vjs-playlist-description {
    color: #a6a6a6;
    text-overflow: ellipsis;
    overflow: hidden;
    margin: 0;
    white-space: nowrap;
}

.vjs-mouse.vjs-playlist {
    font-size: 17px;
    background-color: #1a1a1a;
    color: #fff;
}

.vjs-mouse.vjs-playlist .vjs-playlist-item {
    padding-left: 8px;
    height: 68px;
    margin-bottom: 17px;
}

.vjs-mouse.vjs-playlist .vjs-playlist-thumbnail {
    height: 68px;
    font-size: 13px;
    margin-right: 17px;
    width: 121px;
}

.vjs-mouse.vjs-playlist .vjs-selected .vjs-playlist-thumbnail::before {
    height: 68px;
    line-height: 68px;
    width: 121px;
}

.vjs-mouse.vjs-playlist time {
    font-size: 13px;
}

.vjs-mouse.vjs-playlist cite {
    padding-left: 128px;
    height: 17px;
    line-height: 17px;
}

.vjs-mouse.vjs-playlist .vjs-playlist-description {
    height: 51px;
    line-height: 26px;
}

.vjs-mouse.vjs-playlist .vjs-playlist-item:hover .vjs-playlist-thumbnail::before,
.vjs-mouse.vjs-playlist .vjs-playlist-item:focus .vjs-playlist-thumbnail::before {
    border-radius: 5px;
    font-family: 'VideoJS';
    height: 34px;
    left: 40.5px;
    line-height: 34px;
    top: 17px;
    width: 40px;
}

.loading-mask {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #010101;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    z-index: 9999;
}

.loading-mask.fixed {
    position: fixed;
}

.loading-mask:before {
    content: '';
    background-color: rgba(0, 0, 0, 0);
    border: 5px solid rgba(0, 183, 229, 0.9);
    opacity: .9;
    border-right: 5px solid rgba(0, 0, 0, 0);
    border-left: 5px solid rgba(0, 0, 0, 0);
    border-radius: 50px;
    box-shadow: 0 0 35px #2187e7;
    width: 50px;
    height: 50px;
    -moz-animation: spinPulse 1s infinite ease-in-out;
    -webkit-animation: spinPulse 1s infinite linear;
    margin: -25px 0 0 -25px;
    position: absolute;
    top: 50%;
    left: 50%;
}

.loading-mask:after {
    content: '';
    background-color: rgba(0, 0, 0, 0);
    border: 5px solid rgba(0, 183, 229, 0.9);
    opacity: .9;
    border-left: 5px solid rgba(0, 0, 0, 0);
    border-right: 5px solid rgba(0, 0, 0, 0);
    border-radius: 50px;
    box-shadow: 0 0 15px #2187e7;
    width: 30px;
    height: 30px;
    -moz-animation: spinoffPulse 1s infinite linear;
    -webkit-animation: spinoffPulse 1s infinite linear;
    margin: -15px 0 0 -15px;
    position: absolute;
    top: 50%;
    left: 50%;
}

@-moz-keyframes spinPulse {
    0% {
        -moz-transform: rotate(160deg);
        opacity: 0;
        box-shadow: 0 0 1px #2187e7;
    }
    50% {
        -moz-transform: rotate(145deg);
        opacity: 1;
    }
    100% {
        -moz-transform: rotate(-320deg);
        opacity: 0;
    }
}

@-moz-keyframes spinoffPulse {
    0% {
        -moz-transform: rotate(0deg);
    }
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spinPulse {
    0% {
        -webkit-transform: rotate(160deg);
        opacity: 0;
        box-shadow: 0 0 1px #2187e7;
    }
    50% {
        -webkit-transform: rotate(145deg);
        opacity: 1;
    }
    100% {
        -webkit-transform: rotate(-320deg);
        opacity: 0;
    }
}

@-webkit-keyframes spinoffPulse {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

.logo-mask {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #010101;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    z-index: 9999;
}

.logo-mask-disable {
    display: none;
}

.sloth-logo {
    position: absolute;
    height: 350px;
    width: 300px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}

.sloth-logo div {
    position: absolute;
}

.hair1 {
    height: 250px;
    width: 200px;
    top: 40px;
    border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
    background-color: #111;
    transform: rotate(30deg);
}

.hair2 {
    height: 215px;
    width: 180px;
    top: 100px;
    left: 12px;
    border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
    background-color: #111;
    transform: rotate(-85deg);
}

.hair3 {
    height: 250px;
    width: 200px;
    top: 40px;
    left: 60px;
    border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
    background-color: #111;
    transform: rotate(-30deg);
}

.hair4 {
    height: 215px;
    width: 180px;
    top: 100px;
    left: 70px;
    border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
    background-color: #111;
    transform: rotate(85deg);
}

.face1 {
    height: 215px;
    width: 226px;
    left: 17px;
    top: 70px;
    border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
    background-color: #999;
    z-index: 1;
}

.face2 {
    height: 215px;
    width: 200px;
    top: 68px;
    left: 13px;
    border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
    background-color: #999;
    -webkit-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    transform: rotate(30deg);
}

.face3 {
    height: 215px;
    width: 200px;
    top: 68px;
    left: 47px;
    border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
    background-color: #999;
    -webkit-transform: rotate(-30deg);
    -ms-transform: rotate(-30deg);
    transform: rotate(-30deg);
    z-index: 1;
}

.eye-left {
    width: 30px;
    left: 50px;
    background-color: #efefef;
    z-index: 2;
    animation: blink 3s infinite;
}

.around-eye-left1 {
    width: 65px;
    height: 50px;
    top: 143px;
    left: 30px;
    border-radius: 56% 40% 40% 30% / 41% 50% 50% 30%;
    background-color: #111;
    z-index: 1;
}

.around-eye-left2 {
    width: 40px;
    height: 84px;
    top: 146px;
    left: 13px;
    border-radius: 50%;
    background-color: #111;
    transform: rotate(25deg);
    z-index: 1;
}

.around-eye-left3 {
    width: 80px;
    height: 40px;
    top: 193px;
    left: 15px;
    background-color: #999;
    border-radius: 50% 0 0 12% / 50% 0 0 50%;
    z-index: 1;
}

.eye-right {
    width: 30px;
    left: 180px;
    background-color: #efefef;
    z-index: 2;
    animation: blink 3s infinite;
}

.around-eye-right1 {
    width: 65px;
    height: 50px;
    top: 143px;
    left: 166px;
    border-radius: 40% 50% 30% 40% / 50% 41% 30% 50%;
    background-color: #111;
    z-index: 1;
}

.around-eye-right2 {
    width: 40px;
    height: 84px;
    top: 146px;
    left: 210px;
    border-radius: 50%;
    background-color: #111;
    transform: rotate(-25deg);
    z-index: 1;
}

.around-eye-right3 {
    width: 80px;
    height: 40px;
    top: 193px;
    left: 165px;
    background-color: #999;
    border-radius: 0 50% 12% 0 / 0 50% 50% 0;
    z-index: 1;
}

.nose {
    width: 35px;
    height: 30px;
    top: 175px;
    left: 113px;
    background-color: #000;
    border-radius: 50%;
    z-index: 4;
}

.mouth1 {
    width: 60px;
    height: 50px;
    top: 180px;
    left: 100px;
    background-color: #000;
    background-image: linear-gradient(#999 50%, #000 50%, #000);
    border-radius: 50%;
    z-index: 2;
}

.mouth2 {
    width: 46px;
    height: 40px;
    top: 182px;
    left: 107px;
    background-color: #999;
    border-radius: 50%;
    z-index: 3;
}

@keyframes blink {
    0% {
        height: 35px;
        top: 150px;
        border-radius: 50%;
    }
    90% {
        height: 35px;
        top: 150px;
        border-radius: 50%;
    }
    95% {
        height: 3px;
        top: 165px;
        border-radius: 20%;
    }
    100% {
        height: 35px;
        top: 150px;
        border-radius: 50%;
    }
}
