.vs/
.vscode/launch.json
.vscode/tasks.json
webAPI/.vscode/tasks.json
webAPI/.vscode/launch.json
webAPI/TruthAPI/.vscode/launch.json
webAPI/TruthAPI/.vscode/tasks.json
/webAPI/TruthAPI/Category.txt
/webAPI/TruthAPI/ClientIdentity.txt
/webAPI/TruthAPI/Videos/
