<mat-drawer-container class="container" autosize>
  <mat-drawer #drawer class="sidenav" mode="side" opened="true">
    <app-side-bar (conditionsChange)="onConditionsChanged($event)"></app-side-bar>
  </mat-drawer>

  <div class="sidenav-content">
    <button mat-icon-button (click)="drawer.toggle()">
      <mat-icon *ngIf="drawer.opened">navigate_before</mat-icon>
      <mat-icon *ngIf="!drawer.opened">navigate_next</mat-icon>
    </button>
    <button class="setup" mat-raised-button (click)="openSetupDialog()" color="accent" *ngIf="videoSelected?.length">
      發送
    </button>

    <app-side-content [items]="videoList" (videoSelect)="onVideoSelected($event)"></app-side-content>
  </div>

</mat-drawer-container>
