<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side" opened="true">
    <mat-form-field>
      <input matInput [matDatepicker]="picker" placeholder="Choose a date">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </mat-drawer>

  <div class="example-sidenav-content">
    <button mat-icon-button (click)="drawer.toggle()">
      <mat-icon *ngIf="drawer.opened">navigate_before</mat-icon>
      <mat-icon *ngIf="!drawer.opened">navigate_next</mat-icon>
    </button>
  </div>

</mat-drawer-container>
