<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side" opened="true">
    <mat-form-field>
      <mat-label>起始時間</mat-label>
      <input matInput [matDatepicker]="startPicker" [formControl]="startDate">
      <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
      <mat-datepicker #startPicker></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
      <mat-label>結束時間</mat-label>
      <input matInput [matDatepicker]="endPicker" [formControl]="endDate">
      <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
      <mat-datepicker #endPicker></mat-datepicker>
    </mat-form-field>
  </mat-drawer>

  <div class="example-sidenav-content">
    <button mat-icon-button (click)="drawer.toggle()">
      <mat-icon *ngIf="drawer.opened">navigate_before</mat-icon>
      <mat-icon *ngIf="!drawer.opened">navigate_next</mat-icon>
    </button>
  </div>

</mat-drawer-container>
