<h1 mat-dialog-title>{{title}}</h1>
<div mat-dialog-content>
  <mat-selection-list [(ngModel)]="selectedOptions" (ngModelChange)="onNgModelChange($event)">
    <mat-list-option *ngFor="let item of clients" [selected]="item.selected" [value]="item.id">
      <p mat-line>
        <span> {{item.id}} </span>
        <i class="material-icons">{{item.isActive ? 'videocam' : 'videocam_off'}}</i>
        <i class="material-icons">{{item.isOnline ? 'person' : 'person_outline'}}</i>
      </p>
    </mat-list-option>
  </mat-selection-list>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onOKClick()">Ok</button>
</div>
